.git/
.idea/
.vscode/
.agentscope/
**/.agentscope/
.env
.env.*
**/.env
**/.env.*
**/target/
**/node_modules/
**/dist/
**/__pycache__/
**/package-lock.json
**/*.md
**/*.svg
LICENSE
NOTICE
mvnw
mvnw.cmd
!/.env.yml.example
